test/SoaDiagServiceClient/hpc.microsoft.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://hpc.microsoft.com/" elementFormDefault="qualified" targetNamespace="http://hpc.microsoft.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CleanupTrace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanupTraceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>