test/SoaDiagServiceClient/hpc.microsoft.com1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://hpc.microsoft.com" elementFormDefault="qualified" targetNamespace="http://hpc.microsoft.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTraceEventItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TraceEventItem" nillable="true" type="tns:TraceEventItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTraceEventItem" nillable="true" type="tns:ArrayOfTraceEventItem" />
  <xs:complexType name="TraceEventItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="Level" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ProcessId" type="xs:int" />
      <xs:element minOccurs="0" name="ThreadId" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TraceEventItem" nillable="true" type="tns:TraceEventItem" />
  <xs:simpleType name="RequestState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Null" />
      <xs:enumeration value="Incoming" />
      <xs:enumeration value="Calculating" />
      <xs:enumeration value="Succeeded" />
      <xs:enumeration value="Failed" />
      <xs:enumeration value="FailedToAuthenticateRequest" />
      <xs:enumeration value="FailedToSendResponse" />
      <xs:enumeration value="ClientIdInvalid" />
      <xs:enumeration value="ClientIdMismatch" />
      <xs:enumeration value="ClientStateInvalid" />
      <xs:enumeration value="FrontendGeneralError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RequestState" nillable="true" type="tns:RequestState" />
  <xs:complexType name="RequestContinuationToken">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Position" type="xs:long" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestContinuationToken" nillable="true" type="tns:RequestContinuationToken" />
  <xs:complexType name="ArrayOfRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestData" nillable="true" type="tns:RequestData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestData" nillable="true" type="tns:ArrayOfRequestData" />
  <xs:complexType name="RequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Context" nillable="true" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="DispatchHistory" nillable="true" type="tns:ArrayOfRequestFootprint" />
      <xs:element minOccurs="0" name="RequestId" type="ser:guid" />
      <xs:element minOccurs="0" name="RequestReceivedTime" type="xs:long" />
      <xs:element minOccurs="0" name="ResponseSentTime" type="xs:long" />
      <xs:element minOccurs="0" name="State" type="tns:RequestState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestData" nillable="true" type="tns:RequestData" />
  <xs:complexType name="ArrayOfRequestFootprint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestFootprint" nillable="true" type="tns:RequestFootprint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestFootprint" nillable="true" type="tns:ArrayOfRequestFootprint" />
  <xs:complexType name="RequestFootprint">
    <xs:sequence>
      <xs:element minOccurs="0" name="DispatchId" type="ser:guid" />
      <xs:element minOccurs="0" name="DispatchTime" type="xs:long" />
      <xs:element minOccurs="0" name="ExceptionDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneratedFaultReply" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResponseTime" type="xs:long" />
      <xs:element minOccurs="0" name="ResponseType" type="tns:ResponseType" />
      <xs:element minOccurs="0" name="TargetMachine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
      <xs:element minOccurs="0" name="UserTraces" nillable="true" type="tns:ArrayOfTraceEventItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestFootprint" nillable="true" type="tns:RequestFootprint" />
  <xs:simpleType name="ResponseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Null" />
      <xs:enumeration value="CommunicationError" />
      <xs:enumeration value="EndpointNotFound" />
      <xs:enumeration value="Faulted" />
      <xs:enumeration value="Succeeded" />
      <xs:enumeration value="Incomplete" />
      <xs:enumeration value="DispatcherClosed" />
      <xs:enumeration value="FailedToSendRequest" />
      <xs:enumeration value="RetryOperationError" />
      <xs:enumeration value="SessionFault" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResponseType" nillable="true" type="tns:ResponseType" />
</xs:schema>