test/TestService/AITestLib.Helper.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AITestLib.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AITestLib.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommonDataError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonDataError" nillable="true" type="tns:CommonDataError" />
</xs:schema>