test/TestService/services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ComputerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="callIn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="callOut" type="xs:dateTime" />
      <xs:element minOccurs="0" name="envs" nillable="true" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="jobID" type="xs:int" />
      <xs:element minOccurs="0" name="onExitCalled" type="xs:boolean" />
      <xs:element minOccurs="0" name="processId" type="xs:int" />
      <xs:element minOccurs="0" name="refID" type="xs:int" />
      <xs:element minOccurs="0" name="runAsUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="scheduler" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sub" nillable="true" type="tns:Sub" />
      <xs:element minOccurs="0" name="taskID" type="xs:int" />
      <xs:element minOccurs="0" name="ts" type="tns:TestStruct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComputerInfo" nillable="true" type="tns:ComputerInfo" />
  <xs:complexType name="Sub">
    <xs:sequence>
      <xs:element minOccurs="0" name="sub_e" type="tns:TestEnum" />
      <xs:element minOccurs="0" name="sub_f" type="xs:float" />
      <xs:element minOccurs="0" name="sub_i" type="xs:int" />
      <xs:element minOccurs="0" name="sub_s" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sub" nillable="true" type="tns:Sub" />
  <xs:simpleType name="TestEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="e0" />
      <xs:enumeration value="e1" />
      <xs:enumeration value="e2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">256</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="e3">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TestEnum" nillable="true" type="tns:TestEnum" />
  <xs:complexType name="TestStruct">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="d" type="xs:double" />
      <xs:element minOccurs="0" name="e" type="tns:TestEnum" />
      <xs:element minOccurs="0" name="f" type="xs:float" />
      <xs:element minOccurs="0" name="i32_1" type="xs:int" />
      <xs:element minOccurs="0" name="i32_2" type="xs:int" />
      <xs:element minOccurs="0" name="i64" type="xs:long" />
      <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestStruct" nillable="true" type="tns:TestStruct" />
  <xs:complexType name="ClassFoo">
    <xs:sequence>
      <xs:element minOccurs="0" name="e" type="tns:TestEnum" />
      <xs:element minOccurs="0" name="f" type="xs:float" />
      <xs:element minOccurs="0" name="i" type="xs:int" />
      <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassFoo" nillable="true" type="tns:ClassFoo" />
  <xs:complexType name="ClassObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="o" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassObj" nillable="true" type="tns:ClassObj" />
  <xs:complexType name="ClassStr">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ClassObj">
        <xs:sequence>
          <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClassStr" nillable="true" type="tns:ClassStr" />
  <xs:complexType name="StatisticInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="refID" type="xs:int" />
      <xs:element minOccurs="0" name="responseData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="responseDataSet" nillable="true" xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q2:ArrayOfanyType" />
      <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatisticInfo" nillable="true" type="tns:StatisticInfo" />
</xs:schema>