test/TestServiceClient/tempuri.org.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/services" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SerializationTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stream" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SerializationTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SerializationTestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" nillable="true" xmlns:q1="http://schemas.datacontract.org/2004/07/services" type="q1:ComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoException">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
        <xs:element minOccurs="0" name="ex" nillable="true" xmlns:q2="http://schemas.datacontract.org/2004/07/System" type="q2:Exception" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoExceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoExceptionResult" nillable="true" xmlns:q3="http://schemas.datacontract.org/2004/07/services" type="q3:ComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
        <xs:element minOccurs="0" name="ex" nillable="true" xmlns:q4="http://schemas.datacontract.org/2004/07/System" type="q4:Exception" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoFaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoFaultResult" nillable="true" xmlns:q5="http://schemas.datacontract.org/2004/07/services" type="q5:ComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoFaultWithName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
        <xs:element minOccurs="0" name="exceptionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoFaultWithNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoFaultWithNameResult" nillable="true" xmlns:q6="http://schemas.datacontract.org/2004/07/services" type="q6:ComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoWithDelay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
        <xs:element minOccurs="0" name="delay" xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" type="q7:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoWithDelayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoWithDelayResult" nillable="true" xmlns:q8="http://schemas.datacontract.org/2004/07/services" type="q8:ComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoWithDelayOnSelectedNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
        <xs:element minOccurs="0" name="selectedNode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="delayOnSelectedNode" xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" type="q9:duration" />
        <xs:element minOccurs="0" name="delayOnOtherNodes" xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" type="q10:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoWithDelayOnSelectedNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoWithDelayOnSelectedNodeResult" nillable="true" xmlns:q11="http://schemas.datacontract.org/2004/07/services" type="q11:ComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoWithFail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
        <xs:element minOccurs="0" name="failTime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoWithFailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoWithFailResult" nillable="true" xmlns:q12="http://schemas.datacontract.org/2004/07/services" type="q12:ComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoWithParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
        <xs:element minOccurs="0" name="d" type="xs:double" />
        <xs:element minOccurs="0" name="f" type="xs:float" />
        <xs:element minOccurs="0" name="i64" type="xs:long" />
        <xs:element minOccurs="0" name="i32_1" type="xs:int" />
        <xs:element minOccurs="0" name="i32_2" type="xs:int" />
        <xs:element minOccurs="0" name="e" xmlns:q13="http://schemas.datacontract.org/2004/07/services" type="q13:TestEnum" />
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoWithParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoWithParamResult" nillable="true" xmlns:q14="http://schemas.datacontract.org/2004/07/services" type="q14:ComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoStruct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
        <xs:element minOccurs="0" name="s" xmlns:q15="http://schemas.datacontract.org/2004/07/services" type="q15:TestStruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoStructResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoStructResult" nillable="true" xmlns:q16="http://schemas.datacontract.org/2004/07/services" type="q16:ComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoWithOnExit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
        <xs:element minOccurs="0" name="runTime" xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" type="q17:duration" />
        <xs:element minOccurs="0" name="exitDelay" xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" type="q18:duration" />
        <xs:element minOccurs="0" name="logPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoWithOnExitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoWithOnExitResult" nillable="true" xmlns:q19="http://schemas.datacontract.org/2004/07/services" type="q19:ComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoAppSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoAppSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoAppSettingsResult" nillable="true" xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q20:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoDouble">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoDoubleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoDoubleResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cls" nillable="true" xmlns:q21="http://schemas.datacontract.org/2004/07/services" type="q21:ClassFoo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoClassResult" nillable="true" xmlns:q22="http://schemas.datacontract.org/2004/07/services" type="q22:ClassFoo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="o" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoObjectResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoObject2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obj" nillable="true" xmlns:q23="http://schemas.datacontract.org/2004/07/services" type="q23:ClassObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoObject2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoObject2Result" nillable="true" xmlns:q24="http://schemas.datacontract.org/2004/07/services" type="q24:ClassObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoObject3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="o" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoObject3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoObject3Result" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoObject4">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obj" nillable="true" xmlns:q25="http://schemas.datacontract.org/2004/07/services" type="q25:ClassObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoObject4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoObject4Result" nillable="true" xmlns:q26="http://schemas.datacontract.org/2004/07/services" type="q26:ClassObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsumeCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time" xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" type="q27:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsumeCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsumeCPUResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="millisec" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LastTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kill">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Trace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TraceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
        <xs:element minOccurs="0" name="millisec" type="xs:long" />
        <xs:element minOccurs="0" name="input_data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="common_data_path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateLoadResult" nillable="true" xmlns:q28="http://schemas.datacontract.org/2004/07/services" type="q28:StatisticInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLoadWithResponseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
        <xs:element minOccurs="0" name="sleepTime" xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" type="q29:duration" />
        <xs:element minOccurs="0" name="input_data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="output_data_size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLoadWithResponseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateLoadWithResponseDataResult" nillable="true" xmlns:q30="http://schemas.datacontract.org/2004/07/services" type="q30:StatisticInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLoadWithInputFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
        <xs:element minOccurs="0" name="millisec" type="xs:long" />
        <xs:element minOccurs="0" name="input_data_path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="common_data_path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLoadWithInputFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateLoadWithInputFileResult" nillable="true" xmlns:q31="http://schemas.datacontract.org/2004/07/services" type="q31:StatisticInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceSideAsyncEcho">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceSideAsyncEchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceSideAsyncEchoResult" nillable="true" xmlns:q32="http://schemas.datacontract.org/2004/07/services" type="q32:ComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunInprocSoaJob">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RunInprocSoaJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunInprocSoaJobResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refID" type="xs:int" />
        <xs:element minOccurs="0" name="sleepBeforeGet" xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" type="q33:duration" />
        <xs:element minOccurs="0" name="sleepAfterGet" xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" type="q34:duration" />
        <xs:element minOccurs="0" name="dataClientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expectedMd5Hash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="testActionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCommonDataResult" nillable="true" xmlns:q35="http://schemas.datacontract.org/2004/07/services" type="q35:ComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>